* {
    box-sizing: border-box;
    margin: 0;
    padding:0px;


}
main
{   display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(52, 73, 119);
}
section{  
   
    max-width: 700px;

}
div{ 
     display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(52, 73, 119);

}
body{
    border-radius: 10px;
    border-color: blue;
    border-style: solid;
    padding-top: 5px;
}
h1{
}